@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.primary-gris {
    font-family: 'acier-bat-gris', sans-serif;
}

.primary-outline {
    font-family: 'acier-bat-outline', sans-serif;
}

.primary-solid {
    font-family: 'acier-bat-solid', sans-serif;
}

.secondary-secular-one {
    font-family: 'Secular One', sans-serif;
}

.open {
    transform: rotate(-180deg);
    transition: all 350ms ease-in-out;
}

/* .open {
    position: fixed;
    width: 48px;
    height: 48px;
    background: #43B64F;
    border-radius: 50%;
    z-index: 5;
    transition: all 350ms ease-in-out;
} */

.underline-effect {
    position: relative;
}

.underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.75rem;
    background-color: #43B64Fdd;
    width: 0;
    transition: width 0.8s ease-in-out;
    animation-delay: 2s;
}

.in--view::before {
    width: 100%;
}

.taco {
    animation: grow-n-shrink 750ms;
}

.cancel {
    position: absolute;
    right: 32px;
    top: 24px;
    width: 32px;
    height: 32px;
    animation: grow-n-shrink 750ms;
}

.cancel:before, .cancel:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 33px;
    width: 5px;
    background-color: #000;
}
.cancel:before {
    transform: rotate(45deg);
}
.cancel:after {
    transform: rotate(-45deg);
}

@keyframes grow-n-shrink {
    0% {transform: scale(1);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
}

.slideInUp {
    animation-name: slideInUp;
    animation-duration: 0.5s;
}

@keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}

.sideMenu-fadeIn {
    animation-name: fadeIn;
    animation-duration: 350ms;
}

.sideMenu-fadeOut {
    animation-name: fadeOut;
    animation-duration: 350ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} 

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} 
  
@layer utilities {
    .top-bun {
        @apply before:relative before:bottom-2 before:block before:h-[3px] before:w-6 before:bg-[#43B64F] before:content-[""] before:ease-in before:rounded-md
    }

    .bottom-bun {
        @apply after:relative after:top-1 after:block after:h-[3px] after:w-6 after:bg-[#43B64F] after:content-[""] after:ease-in after:rounded-md
    }
    
    .patty {
        @apply block h-[3px] w-4 bg-[#43B64F]  ease-in duration-300 rounded-md
    }

    .top-45 {
        @apply top-bun before:rotate-45 before:w-8 before:top-1
    }

    .bottom-45 {
        @apply bottom-bun after:rotate-[-45deg] after:top-0 after:w-8
    }

    .text-primary {
        @apply text-[#43B64F]
    }

    .text-secondary {
        @apply text-[#8FD697]
    }

    .text-tertiary {
        @apply text-[#297031]
    }

    .bg-primary {
        @apply bg-[#43B64F]
    }

    .bg-secondary {
        @apply bg-[#8FD697]
    }

    .bg-tertiary {
        @apply bg-[#297031]
    }

    .border-primary {
        @apply border-[#43B64F]
    }

    .border-secondary {
        @apply border-[#8FD697]
    }

    .border-tertiary {
        @apply border-[#297031]
    }
}

@layer components {
    .hamburger {
        @apply top-bun bottom-bun patty
    }

    .card {
        @apply border-[#ccffdd] my-10  mx-auto flex flex-col justify-between w-[280px] gap-2
             border rounded-3xl border-solid p-6 bg-[#F4FBF5] shadow-lg
    }

    .sideMenu {
        @apply absolute top-0 bottom-0 left-0 right-0 bg-[#f4fbf595] backdrop-blur-md;
    }
}
