@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

:root {
    --color-primary-main: #43B64F;
    --color-primary-light: #ccffdd; 
    --color-primary-dark: #297031;
    --color-dark: #444;
    --color-light: #eee;
}

*, html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.open {
    transform: rotate(-180deg);
    transition: all 300ms ease-in-out;
}

.close {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}

button:hover .accordionIcon {
    fill: var(--color-primary-dark);
}

button:hover .accordionHeader {
    color: var(--color-primary-dark);
}

.underline-effect {
    position: relative;
}

.underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.75rem;
    background-color: var(--color-primary-main);
    opacity: 0.75;
    width: 0;
    transition: width 0.8s ease-in-out;
    animation-delay: 2s;
}

.in--view::before {
    width: 100%;
}

.in--hover:hover:before {
    height: 0.5rem;
    width: 100%;
}

.cancel {
    width: 100%;
    height: 100%;
}

.cancel:before, .cancel:after {
    position: absolute;
    content: '';
    height: 50%;
    width: 4px;
    top: 25%;
    background-color: var(--color-primary-light);
}
.cancel:before {
    transform: rotate(45deg);
}
.cancel:after {
    background-color: var(--color-primary-light);
    transform: rotate(-45deg);
}